$body-color: #666;
$container-color: #ccc;
$item-color: #333;

body {
  color: $body-color;
}

.container{
  background-color: $container-color;
  height: 400px;

  display: flex;
  
  // flex-direction: row;
  /* column | column-reverse | row-reverse */
  // esta propriedade vai dizer se trabalharemos em colunas, linhas e será qual sua direção.

  // flex-wrap: nowrap;
  /* wrap | nowrap-reverse | wrap-reverse*/
  // esta propriedade vai dizer se existirá ou não quebra de linha

  flex-flow: row nowrap;
  // esta propriedade é utilizada para definir os valores para flex-direction e flex-wrap de uma vez só.

  justify-content: flex-start;
  /* flex-end | center | space-around | space-between */
  // esta propriedade é utilizada para definir o alinhamento horizontal

  align-items: stretch;
  /* flex-start | flex-end | center | baseline */
  // esta propriedade é utilizada para definir o alinhamento vertical

  align-content: flex-start;
  /* flex-start | flex-end | center | space-around | space-between */
  // esta propriedade é utilizada para definir o alinhamento vertical mesmo com a quebra de linha.

}

.item{
  background-color: $item-color;
  color: #fff;
  padding: 20px;
  margin: 5px;
  height: 30px;

  flex-grow: 1;
  &.article-a{
    // order: 1;
    // esta propriedade é utilizada para definir a ordem em que os itens serão reinderizados.
    align-self: auto;
    /* flex-start | flex-end | center | baseline | stretch */
    // esta propriedade é utilizada para definir o alinhamento vertical de um item específico, quando o flex-container esta definido como row. Caso o flex-container esteja definido como column, o alinhamento individual será horizontal.
    flex-grow: 3;
    // esta propriedade é para definir quanto do espaço disponível no container flexível deve ser atribuído a esse item (o fator de crescimento flexível). Se todos os itens irmãos tiverem o mesmo fator de crescimento flex, todos os itens receberão a mesma parcela de espaço disponível, caso contrário, ele será distribuído de acordo com a proporção definida pelos diferentes fatores de crescimento flex. Para facilitar o entendimento do conceito do flex-grow pense em colunas.
  }
  // &.article-b{order: 2;}
  // &.article-c{order: 3;}
  // &.article-d{order: 4;}
}
 